body {
  background: linear-gradient(to right, rgb(10, 141, 130), rgb(10, 93, 161));
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App h1 {
  margin: 0;
  padding: 20px;
  font-size: 4em;
  color: azure;
}